# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go build command
*.out

# Go workspace file (go workspaces)
go.work
go.work.sum

# Vendor directory (if you use go mod vendor)
vendor/

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# Test binary and coverage files
*.test
*.cover
*.coverprofile
*.coverage

# Logs and temp files
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db

.env
note.md

mcphetzner